<!— index.html —>
<html>
  <head>
    <meta charset="utf-8">
  
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/navibar.css">
    <link rel="stylesheet" href="public/css/firstpage.css">
    <link rel="stylesheet" href="public/css/secondpage.css">
    <link rel="stylesheet" href="public/css/thirdpage.css">
    <link rel="stylesheet" href="public/css/forthpage.css">
    <link rel="stylesheet" href="public/css/fifthpage.css">
    <link rel="stylesheet" href="public/css/sixth.css">
    <link rel="stylesheet" href="public/css/footer.css">

    <link rel="stylesheet" href="public/css/client/achievements.css">
    <link rel="stylesheet" href="public/css/client/footer.css">
    <link rel="stylesheet" href="public/css/client/mycorses.css">
    <link rel="stylesheet" href="public/css/client/news.css">
    <link rel="stylesheet" href="public/css/client/recommendedcorses.css">
    <link rel="stylesheet" href="public/css/client/SideMenu.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"></link>
    <title>Ase Home page</title>
  </head>
  <body>
    <div id="content"/>
    <script src="public/bundle.js" type="text/javascript"></script>
  </body>
</html>