.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 5px solid black;
}


main{
  text-align: center;
  padding-bottom: 10px;
}
button{
  height: 5vh;
  width: 50%;
  font: 0.8em sans-serif;
  color: black;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  border: 2px black solid;
  user-select: none;
  outline: none;

}


button.click{
  margin-top: 10px;
  padding-right: 15px;
  text-align: right;
  width: 100%;
  font: 0.8em sans-serif;
  color: crimson;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  border: white;
  user-select: none;
  outline: none;
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}

form{
  text-align: center;
  margin: 40px;
}
label{
  font: 1.2em sans-serif;
  margin: 10px;
}

.form-group{
  padding: 10px;
}
/*body { 
  margin: 50px;
  padding: 30px 20%;
}*/
h1 {
  font-size: 1.5em;
  text-align: center;
}

.subbut{
  padding-top: 10px;
}

input.form-control{
  padding: 10px;
  border: 1px solid black;
}

input.btn.btn-primary{
  font: 0.9em sans-serif;
  display: inline-block;
  color:gray;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 1px solid black;
  border-radius: 1px;
  transition: 0.2s;
}

input.btn.btn-primary:hover { background: rgba(255,255,255,.2); }
input.btn.btn-primary:active { background: white; }