.menu-wrapper{
    display:flex;
    position: absolute;
    width: 280px;
    background: white;
    top: 0;
    left:0;
    bottom:0;
}

.side-bar{
    border-right: 2.5px solid #8e8e8e;
    width:280px;

}


.side-menu-header-img{
    display:inherit;
    padding:2px;
    padding-left:4px;
    height: 60px;
    width: 100px;
}
.side-menu-header-text{
    display:inherit;
    margin-left:3px;
    margin-top:12px;

}
.side-menu-header{
    display:inline-flex;
    margin-top: 14px;
    padding-bottom:10px;
    border-bottom: 3px solid #fbfbfb;

}

.side-menu-wrapper{
    height:35px;
    margin-left:15px;
}


.side-menu-profile-extra-info{
    margin-left:12px;
    font-style: italic;
    padding-bottom: 20px;
    border-bottom: 3px solid #fbfbfb;

}
.side-menu-profile-status{
    margin-left:12px;
    margin-bottom: 2px;
}

.side-menu-profile-main-info-img {
    display: inline-flex;
    width: 80px;
    height: 80px;
    margin-left:12px;
    margin-bottom: 8px;
}



.side-menu-profile-main-info{
    display: inline-flex;

}
.side-menu-profile-main-info-name{
    margin-left:12px;
}

.side-menu-list{
    margin-top:10px;
}

.side-menu-list-line-text{
    color: #8e8e8e;
}
.side-menu-list-line{
    display:inline-flex;

}
.side-menu-profile{
    margin-top: 12px;
}

a:link.side-menu-header {
    color: #c5c5c5;
    text-decoration: none;
}

/* visited link */
a:visited.side-menu-header {
    color: #c5c5c5;
    text-decoration: none;
}

/* mouse over link */
a:hover.side-menu-header {
    color: #c5c5c5;
    text-decoration: none;
}

/* selected link */
a:active.side-menu-header {
    color: #8e8e8e;
    text-decoration: none;
}